<h1>New User</h1>
<%= render partial: 'form' %>
<!-- <form accept-charset="UTF-8" action="/users" method='post'>

  <div class="form-group">
    <label for='username'>Username</label>
    <input type="text" name="user[username]" class="form-control" id="username" placeholder="Username"/>
  </div>
  <div class="form-group">
    <label for='email'>Email</label>
    <input type="text" class="form-control" name="user[email]" id='email' placeholder="Email" />
  </div>
  <div class="form-group">
    <label for='password'>Password</label>
    <input type="password" class="form-control" name="user[password]" id="password" placeholder="Password" />
  </div>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<!-- # <%= form_tag('/users') do %>
#   <div class="form-group">
#     <%= label_tag ('username') %>
#     <%= text_field_tag 'user[username]', nil, class: "form-control" %>
#   </div>
#   <div class="form-group">
#     <%= label_tag ('email') %>
#     <%= text_field_tag 'user[email]', nil, class: 'form-control' %>
#   </div>
#   <div class="form-group">
#     <%= label_tag ('password') %>
#     <%= password_field_tag 'user[password]', nil, class: 'form-control' %>
#   </div>
#   <%= submit_tag "Submit" %>
# <% end %> -->
